<a href="{{ '/' | relative_url }}">Home</a>
<br/>
<br/>
Managing your data
<ul>
  <li><a href="{{ '/file_system.html' | relative_url }}">Nickel Reorganization</a></li>
  <li>Tools and links</li>
  <li>Data lifecycle information</li>
  <li><a href="{{ '/data_strategy_outline.html' | relative_url }}">Data Strategy Outline and Goals</a></li>
</ul>
Esri and ArcGIS
<ul>
  <li><a href="{{ '/sde_geodatabase.html' | relative_url }}">Using Enterprise Geodatabases</a></li>
  <li>Publishing features to the web</li>
  <li>Open Data</li>
</ul>
GBSSRL
<ul>
  <li><a href="{{ '/gbssrl_file_structure.html' | relative_url }}">GBSSRL File System Structure</a></li>
  <li><a href="{{ '/gbssrl_quality.html' | relative_url }}">General QA Procedures</a></li>
  <li><a href="{{ '/thin_section_scan_instructions.html' | relative_url }}">Thin Section Scanning</a></li>
  <li><a href="{{ '/thin_section_scan_instructions.html' | relative_url }}">Mining District Scanning</a></li>
</ul>
Finding NBMG Data
<ul>
  <li>Data locations by category</li>
  <li>Database schemas</li>
  <li>Connecting to an NBMG database</li>
</ul>
<!--<button onclick="myFunction('Demo1')" class="w3-button w3-block w3-left-align">
Open Section 1</button>

<!--f="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<div style="margin-left:25%">
... page content ...
</div>-->


<!--<div id="Demo1" class="w3-container w3-hide">
  <p>Some text..</p>
</div>


<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>-->
