<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
</ul>

Managing your data
<ul>
  <li><a href="{{ '/file_system.html' | relative_url }}">Nickel Reorganization</a>
</ul>

GBSSRL

Esri and ArcGIS

<!--<button onclick="myFunction('Demo1')" class="w3-button w3-block w3-left-align">
Open Section 1</button>

<!--f="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<div style="margin-left:25%">
... page content ...
</div>-->


<!--<div id="Demo1" class="w3-container w3-hide">
  <p>Some text..</p>
</div>


<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>-->
